<h1>I.T. Associates Assignment</h1>
<p>Using the attached client JSON data, create a simple angular application based on the instructions below.</p>
<ol>
    <li>Create a client module.</li>
    <li>Create a list component to display the client data. This component should be created as a reusable component.
    </li>
    <li>Display the list of clients.</li>
    <li>Highlight the rows where the client type is media.</li>
    <li>Create a simple edit form component to allow users to create or update client data.</li>
    <li>The client type control should be a dropdown with the following options "Media", "Finance" and "Catering".</li>
    <li>Create an auto-complete input component where it could be able to reuse across the application to select the
        line
        of business.</li>
    <li>The “client name” textbox should be a mandatory field.</li>
    <li>When the user saves the client, the application should be redirected back to the list page and highlight the
        edited item using a state management option (Angular services, RxJS or NgRx).</li>
</ol>
<button mat-raised-button color="primary" (click)="continue()">Continue</button>